<h2>All Landmarks</h2>

<ul>
    <%@landmarks.each do |lm|%>
        <li><h3><a href="/landmarks/<%=lm.id%>"><%=lm.name%></a></h3></li>
            <p><%=lm.year_completed%></p>
    <%end%>
</ul>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>